html, body{
	width: 100%;
	height: 100%;
}
body{
	padding: 0 2.5% 2.5% 2.5%;
}
.navbari{
	background-color: #388326;
	border: 4px solid #2A4723;
	height:100%;
	position: relative;
}
.body-title{
	text-align: center;

}
.nav-li{
	display: inline-block;
	
}

.navbari-nav{
    position: absolute;
	top: 37px;
	left: 20px;
}

.navbar-li{
	font-size: 30px;
	margin-left: 30px;
	text-transform: uppercase;
	color: white;
}

.logo{
	position: absolute;
    top: 97px;
    right: 190px;
    width: 300px;
    height: 300px;
}
.white-box{
	width: 618px;
	height: 448px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 -4px -4px;
	background-color: white;
}
.green-box{
	position: absolute;
	top:50%;
	right: 50%;
	transform: translate(50%,-50%);
	width: 250px;
    height: 250px;
	background-color: #42922E;
}

